﻿@model unified_checkpoint_v2.Models.Agente
@{
    ViewBag.Title = "ActualizarAgente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/mantenimientos.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <a href="/Agente/index"><i class="icon ion-ios-arrow-back form-control size-40 centrarVertical-30"></i></a>
        </div>
        <div class="col-7">
            <h1>Editar Agente</h1>
        </div>
    </div>
    <hr class="margenEditar" />

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <div validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tipoCedula" class="control-label">Tipo Cédula</label>
                        <input for="tipoCedula" id="tipoCedula" class="form-control" value="@Model.TipoCedula" disabled />
                        <span validation-for="tipoCedula" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Cedula" class="control-label">Cédula</label>
                        <input for="Cedula" id="cedula" class="form-control" value="@Model.Cedula" disabled />
                        <span validation-for="Cedula" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Nombre" class="control-label">Nombre</label>
                        <input for="Nombre" id="nombre" class="form-control" value="@Model.Nombre" />
                        <span validation-for="Nombre" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Apellido" class="control-label">Apellido</label>
                        <input for="Apellido" id="apellido" class="form-control" value="@Model.Apellido" />
                        <span validation-for="Apellido" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Teléfono</label>
                        <input for="Telefono" id="telefono" class="form-control" value="@Model.Telefono" />
                        <span validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Correo" class="control-label">Correo</label>
                        <input for="Correo" id="correo" class="form-control" value="@Model.Correo" />
                        <span validation-for="Correo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="Agencia">Agencia</label>
                        <input for="Agencia" id="agencia" class="form-control" value="@Model.Agencia" />
                        <span validation-for="Agencia" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="InformacionAdicional">Información Adicional</label>
                        <textarea for="InformacionAdicional" id="info" class="form-control" rows="6" cols="25" type="text">@Model.InformacionAdicional</textarea>
                        <span validation-for="InformacionAdicional" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="button" value="Actualizar" onclick="ActualizarAgente()" class="btn btn-primary float-right" />
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>



