﻿@model unified_checkpoint_v2.Models.Agente
@{
    ViewBag.Title = "EliminarAgente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/mantenimientos.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <a href="/Agente/index"><i class="icon ion-ios-arrow-back form-control size-40 centrarVertical-30"></i></a>
        </div>
        <div class="col-9">
            <h1>Está seguro que desea eliminar el Agente?</h1>
        </div>
    </div>
    <hr class="margen2rem" />

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="TipoCedula" class="control-label"></label>
                        <input for="TipoCedula" class="form-control" value="@Model.TipoCedula" disabled />
                        <span validation-for="TipoCedula" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Cedula" class="control-label"></label>
                        <input for="Cedula" id="cedula" class="form-control" value="@Model.Cedula" disabled />
                        <span validation-for="Cedula" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Nombre" class="control-label"></label>
                        <input for="Nombre" class="form-control" value="@Model.Nombre" disabled />
                        <span validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Apellido" class="control-label"></label>
                        <input for="Apellido" class="form-control" value="@Model.Apellido" disabled />
                        <span validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="Telefono"></label>
                        <input for="Telefono" class="form-control" value="@Model.Telefono" disabled />
                        <span validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Correo" class="control-label"></label>
                        <input for="Correo" class="form-control" value="@Model.Correo" disabled />
                        <span validation-for="Correo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="Agencia"></label>
                        <input for="Agencia" class="form-control" value="@Model.Agencia" disabled />
                        <span validation-for="Agencia" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="InformacionAdicional"></label>
                        <textarea for="InformacionAdicional" class="form-control" disabled rows="6" cols="25" type="text">@Model.InformacionAdicional</textarea>
                        <span validation-for="InformacionAdicional" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <input type="button" value="Eliminar" onclick="EliminarAgente()" class="btn btn-danger float-right" />
        </div>
        <div class="col-2"></div>
    </div>
</div>




