﻿
@{
    ViewBag.Title = "InsertarAgente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/mantenimientos.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <a href="/Agente/index"><i class="icon ion-ios-arrow-back form-control size-40 centrarVertical-30"></i></a>
        </div>
        <div class="col-7">
            <h1>Crear Agente</h1>
        </div>
    </div>
    <hr class="margenEditar" />

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <div validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tipo Cédula</label>
                        <select for="TipoCedula" class="form-control" id="tipoCedula">
                            <option value="Cédula">Cédula</option>
                            <option value="Cédula Jurídica">Cédula Jurídica</option>
                            <option value="Dimex">Dimex</option>
                        </select>
                        <span validation-for="tipoCedula" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Cedula" class="control-label">Cédula</label>
                        <input for="Cedula" id="cedula" class="form-control" />
                        <span validation-for="cedula" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Nombre" class="control-label">Nombre</label>
                        <input for="Nombre" id="nombre" class="form-control" />
                        <span validation-for="nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Apellido" class="control-label">Apellido</label>
                        <input for="Apellido" id="apellido" class="form-control" />
                        <span validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Telefono" class="control-label">Teléfono</label>
                        <input for="Telefono" id="telefono" class="form-control" />
                        <span validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Correo" class="control-label">Correo</label>
                        <input for="Correo" id="correo" class="form-control" />
                        <span validation-for="Correo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Agencia" class="control-label">Agencia</label>
                        <input for="Agencia" id="agencia" class="form-control" />
                        <span validation-for="Agencia" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="InformacionAdicional" class="control-label">Información Adicional</label>
                        <textarea for="InformacionAdicional" id="info" class="form-control" rows="6" cols="25" type="text"></textarea>
                        <span validation-for="InformacionAdicional" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Agregar" onclick="GuardarAgente()" class="btn btn-primary float-right" />
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>





