﻿@model unified_checkpoint_v2.Models.Propiedade
@{
    ViewBag.Title = "DetallesPropiedad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/adminlte/js/mantenimientos.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <a href="/Propiedadess/index"><i class="icon ion-ios-arrow-back form-control size-40 centrarVertical-30"></i></a>
        </div>
        <div class="col-7">
            <h1>Detalles de Propiedad</h1>
        </div>
    </div>
    <hr class="margenEditar" />

    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <div validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-3 border">
                    <div class="row border-bottom contenedorTipoVenta">
                        <h3 class="centrar colorBlanco">Tipo de Venta</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @if (Model.Venta == true)
                            {
                                <input disabled type="checkbox" value="1" checked id="venta" /><label class="labelTipoVenta">Venta</label>
                            }
                            else
                            {
                                <input disabled type="checkbox" value="0" id="venta" /><label class="labelTipoVenta">Venta</label>
                            }
                        </div>
                        <div class="col-md-6">
                            @if (Model.Alquiler == true)
                            {
                                <input disabled type="checkbox" value="1" checked id="alquiler" /><label class="labelTipoVenta">Alquiler</label>
                            }
                            else
                            {
                                <input disabled type="checkbox" value="0" id="alquiler" /><label class="labelTipoVenta">Alquiler</label>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-8 border">
                    <div class="row border-bottom contenedorTipoVenta">
                        <h3 class="centrar colorBlanco">Tipo de Propiedad</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @if (Model.T_Casa == true)
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="1" checked id="tipoCasa" /><label class="labelTipoVenta">Casa</label>
                            }
                            else
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="0" id="tipoCasa" /><label class="labelTipoVenta">Casa</label>
                            }
                        </div>
                        <div class="col-md-4">
                            @if (Model.T_Terreno == true)
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="1" checked id="tipoTerreno" /><label class="labelTipoVenta">Terreno</label>
                            }
                            else
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="0" id="tipoTerreno" /><label class="labelTipoVenta">Terreno</label>
                            }

                        </div>
                        <div class="col-md-4">
                            @if (Model.T_Local == true)
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="1" checked id="tipoLocal" /><label class="labelTipoVenta">Local</label>
                            }
                            else
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="0" id="tipoLocal" /><label class="labelTipoVenta">Local</label>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @if (Model.T_Oficina == true)
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="1" checked id="tipoOficina" /><label class="labelTipoVenta">Oficina</label>
                            }
                            else
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="0" id="tipoOficina" /><label class="labelTipoVenta">Oficina</label>
                            }
                        </div>
                        <div class="col-md-4">
                            @if (Model.T_Bodega == true)
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="1" checked id="tipoBodega" /><label class="labelTipoVenta">Bodega</label>
                            }
                            else
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="0" id="tipoBodega" /><label class="labelTipoVenta">Bodega</label>
                            }
                        </div>
                        <div class="col-md-4">
                            @if (Model.T_Edificio == true)
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="1" checked id="tipoEdificio" /><label class="labelTipoVenta">Edificio</label>
                            }
                            else
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="0" id="tipoEdificio" /><label class="labelTipoVenta">Edificio</label>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @if (Model.T_Hotel == true)
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="1" checked id="tipoHotel" /><label class="labelTipoVenta">Hotel</label>
                            }
                            else
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="0" id="tipoHotel" /><label class="labelTipoVenta">Hotel</label>
                            }

                        </div>
                        <div class="col-md-4">
                            @if (Model.T_Condominio == true)
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="1" checked id="tipoCondominio" /><label class="labelTipoVenta">Condominio</label>
                            }
                            else
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="0" id="tipoCondominio" /><label class="labelTipoVenta">Condominio</label>
                            }

                        </div>
                        <div class="col-md-4">
                            @if (Model.T_Apartamento == true)
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="1" checked id="tipoApartamento" /><label class="labelTipoVenta">Apartamento</label>
                            }
                            else
                            {
                                <input disabled type="radio" name="tipoPropiedad" value="0" id="tipoApartamento" /><label class="labelTipoVenta">Apartamento</label>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 border">
                    <div class="row border-bottom contenedorTipoVenta">
                        <h3 class="centrar colorBlanco">Información Importante</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="codigo" class="control-label labelTipoVenta">Código</label>
                                <input disabled for="codigo" id="codigo" class="form-control" value="@Model.Codigo" />
                                <span validation-for="codigo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombre" class="control-label labelTipoVenta">Nombre</label>
                                <input disabled for="nombre" id="nombre" class="form-control" value="@Model.Nombre" />
                                <span validation-for="nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="propietario" class="control-label labelTipoVenta">Propietario</label>
                                <input disabled for="propietario" id="propietario" class="form-control" value="@Model.Propietario1.Cedula - @Model.Propietario1.Nombre @Model.Propietario1.Apellido" disabled />
                                <span validation-for="propietario" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="maps" class="control-label labelTipoVenta">Google Maps</label>
                                <input disabled for="maps" id="maps" class="form-control" value="@Model.LinkGoogleMaps" />
                                <span validation-for="maps" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="mapsLat" class="control-label labelTipoVenta">Latitud</label>
                                <input disabled for="mapsLat" id="mapsLat" class="form-control" value="@Model.MapsLat" />
                                <span validation-for="mapsLat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="mapsLong" class="control-label labelTipoVenta">Longitud</label>
                                <input disabled for="mapsLong" id="mapsLong" class="form-control" value="@Model.MapsLong" />
                                <span validation-for="mapsLong" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="estado" class="control-label labelTipoVenta">Estado</label>
                                <input type="text" for="estado" id="estado" class="form-control" value="@Model.Estado" disabled>
                                <span validation-for="estado" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="linkSitioWeb" class="control-label labelTipoVenta">Link Sitio Web</label>
                                <input disabled for="linkSitioWeb" id="linkSitioWeb" class="form-control" value="@Model.LinkSitioWeb" />
                                <span validation-for="linkSitioWeb" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="noPlanoCatastro" class="control-label labelTipoVenta">No. Plano Catastro</label>
                                <input disabled for="noPlanoCatastro" id="noPlanoCatastro" class="form-control" value="@Model.NoPlanoCatastro" />
                                <span validation-for="noPlanoCatastro" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="noFolioReal" class="control-label labelTipoVenta">No. Folio Real</label>
                                <input disabled for="noFolioReal" id="noFolioReal" class="form-control" value="@Model.NoFolioReal" />
                                <span validation-for="noFolioReal" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="llaves" class="control-label labelTipoVenta">Llaves</label>
                                <input disabled for="llaves" id="llaves" class="form-control" value="@Model.Llaves" />
                                <span validation-for="llaves" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <br />
                                @if (Model.Ocupado == true)
                                {
                                    <input disabled for="ocupado" type="checkbox" value="1" id="ocupado" checked />
                                }
                                else
                                {
                                    <input disabled for="ocupado" type="checkbox" value="0" id="ocupado" />
                                }
                                <label for="ocupado" class="control-label labelTipoVenta">Ocupado</label>
                                <span validation-for="ocupado" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="precioVenta" class="control-label labelTipoVenta">Precio Venta($)</label>
                                <input disabled for="precioVenta" id="precioVenta" class="form-control" value="@Model.PrecioVenta" />
                                <span validation-for="precioVenta" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="precioAlquiler" class="control-label labelTipoVenta">Precio Alquiler($)</label>
                                <input disabled for="precioAlquiler" id="precioAlquiler" class="form-control" value="@Model.PrecioAlquiler" />
                                <span validation-for="precioAlquiler" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="iva" class="control-label labelTipoVenta">IVA</label>
                                <input disabled for="iva" id="iva" class="form-control" value="@Model.IVA" />
                                <span validation-for="iva" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="avaluo" class="control-label labelTipoVenta">Avaluo</label>
                                <input disabled for="avaluo" id="avaluo" class="form-control" value="@Model.Avaluo" />
                                <span validation-for="avaluo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cuotaMantenimiento" class="control-label labelTipoVenta">Cuota de Mantenimiento</label>
                                <input disabled for="cuotaMantenimiento" id="cuotaMantenimiento" class="form-control" value="@Model.CuotaMantenimiento" />
                                <span validation-for="cuotaMantenimiento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cuotaSeguridad" class="control-label labelTipoVenta">Cuota de Seguridad</label>
                                <input disabled for="cuotaSeguridad" id="cuotaSeguridad" class="form-control" value="@Model.CuotaSeguridad" />
                                <span validation-for="cuotaSeguridad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="impuestoSolidario" class="control-label labelTipoVenta">Impuesto Solidario</label>
                                <input disabled for="impuestoSolidario" id="impuestoSolidario" class="form-control" value="@Model.ImpuestoSolidario" />
                                <span validation-for="impuestoSolidario" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="impuestos" class="control-label labelTipoVenta">Impuestos</label>
                                <input disabled for="impuestos" id="impuestos" class="form-control" value="@Model.Impuestos" />
                                <span validation-for="impuestos" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="provincia" class="control-label labelTipoVenta">Provincia</label>
                                <input disabled for="provincia" id="provincia" class="form-control" value="@Model.Provincia" />
                                <span validation-for="provincia" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="canton" class="control-label labelTipoVenta">Cantón</label>
                                <input disabled for="canton" id="canton" class="form-control" value="@Model.Canton" />
                                <span validation-for="canton" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="distrito" class="control-label labelTipoVenta">Distrito</label>
                                <input disabled for="distrito" id="distrito" class="form-control" value="@Model.Distrito" />
                                <span validation-for="distrito" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="postal" class="control-label labelTipoVenta">Código Postal</label>
                                <input disabled for="postal" id="postal" class="form-control" value="@Model.CodigoPostal" />
                                <span validation-for="postal" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="direccion" class="control-label labelTipoVenta">Dirección</label>
                                <textarea for="direccion" disabled id="direccion" class="form-control" rows="3" cols="20" type="text">@Model.Direccion</textarea>
                                <span validation-for="direccion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 border">
                    <div class="row border-bottom contenedorTipoVenta">
                        <h3 class="centrar colorBlanco">Medidas</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="areaTerreno" class="control-label labelTipoVenta">Terreno (m2)</label>
                                <input disabled for="areaTerreno" id="areaTerreno" class="form-control" value="@Model.AreaTerrenoM2" />
                                <span validation-for="areaTerreno" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="areaConstruccion" class="control-label labelTipoVenta">Construcción (m2)</label>
                                <input disabled for="areaConstruccion" id="areaConstruccion" class="form-control" value="@Model.AreaConstruccionM2" />
                                <span validation-for="areaConstruccion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="frente" class="control-label labelTipoVenta">Frente (m2)</label>
                                <input disabled for="frente" id="frente" class="form-control" value="@Model.FrenteM2" />
                                <span validation-for="frente" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="fondo" class="control-label labelTipoVenta">Fondo (m2)</label>
                                <input disabled for="fondo" id="fondo" class="form-control" value="@Model.FondoM2" />
                                <span validation-for="fondo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="altura" class="control-label labelTipoVenta">Altura (m2)</label>
                                <input disabled for="altura" id="altura" class="form-control" value="@Model.AlturaM2" />
                                <span validation-for="altura" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="areaMascota" class="control-label labelTipoVenta">Area Mascota (m2)</label>
                                <input disabled for="areaMascota" id="areaMascota" class="form-control" value="@Model.AreaMascotaM2" />
                                <span validation-for="areaMascota" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 border">
                    <div class="row border-bottom contenedorTipoVenta">
                        <h3 class="centrar colorBlanco">Amenidades</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="niveles" class="control-label labelTipoVenta">Niveles</label>
                                <input disabled for="niveles" id="niveles" class="form-control" value="@Model.Niveles" />
                                <span validation-for="niveles" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="dormitorios" class="control-label labelTipoVenta">Dormitorios</label>
                                <input disabled for="dormitorios" id="dormitorios" class="form-control" value="@Model.Dormitorios" />
                                <span validation-for="dormitorios" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="baños" class="control-label labelTipoVenta">Baños</label>
                                <input disabled for="baños" id="baños" class="form-control" value="@Model.Baños" />
                                <span validation-for="baños" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="pisos" class="control-label labelTipoVenta">Pisos</label>
                                <input disabled for="pisos" id="pisos" class="form-control" value="@Model.Pisos" />
                                <span validation-for="pisos" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cielos" class="control-label labelTipoVenta">Cielos</label>
                                <input disabled for="cielos" id="cielos" class="form-control" value="@Model.Cielos" />
                                <span validation-for="cielos" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="mueblesCocina" class="control-label labelTipoVenta">Muebles Cocina</label>
                                <input disabled for="mueblesCocina" id="mueblesCocina" class="form-control" value="@Model.MueblesCocina" />
                                <span validation-for="mueblesCocina" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="electrod" class="control-label labelTipoVenta">Electrodomésticos</label>
                                <input disabled for="electrod" id="electrod" class="form-control" value="@Model.Electrod" />
                                <span validation-for="electrod" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cerchas" class="control-label labelTipoVenta">Cerchas</label>
                                <input disabled for="cerchas" id="cerchas" class="form-control" value="@Model.Cerchas" />
                                <span validation-for="cerchas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cornizas" class="control-label labelTipoVenta">Cornizas</label>
                                <input disabled for="cornizas" id="cornizas" class="form-control" value="@Model.Cornizas" />
                                <span validation-for="cornizas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="puertas" class="control-label labelTipoVenta">Puertas</label>
                                <input disabled for="puertas" id="puertas" class="form-control" value="@Model.Puertas" />
                                <span validation-for="puertas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="contramarcos" class="control-label labelTipoVenta">Contramarcos</label>
                                <input disabled for="contramarcos" id="contramarcos" class="form-control" value="@Model.ContraMarcos" />
                                <span validation-for="contramarcos" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ventaneria" class="control-label labelTipoVenta">Ventanería</label>
                                <input disabled for="ventaneria" id="ventaneria" class="form-control" value="@Model.Ventaneria" />
                                <span validation-for="ventaneria" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cobertura" class="control-label labelTipoVenta">Cobertura</label>
                                <input disabled for="cobertura" id="cobertura" class="form-control" value="@Model.Cobertura" />
                                <span validation-for="cobertura" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="estSuelo" class="control-label labelTipoVenta">Est Suelo</label>
                                <input disabled for="estSuelo" id="estSuelo" class="form-control" value="@Model.Est_Suelo" />
                                <span validation-for="estSuelo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="curvasNivel" class="control-label labelTipoVenta">Curvas Nivel</label>
                                <input disabled for="curvasNivel" id="curvasNivel" class="form-control" value="@Model.Curvas_Nivel" />
                                <span validation-for="curvasNivel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="hotH2O" class="control-label labelTipoVenta">Hot H20</label>
                                <input disabled for="hotH2O" id="hotH2O" class="form-control" value="@Model.HotH20" />
                                <span validation-for="hotH2O" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="parqueo" class="control-label labelTipoVenta">Parqueo</label>
                                <input disabled for="parqueo" id="parqueo" class="form-control" value="@Model.Parqueo" />
                                <span validation-for="parqueo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="sobres" class="control-label labelTipoVenta">Sobres</label>
                                <input disabled for="sobres" id="sobres" class="form-control" value="@Model.Sobres" />
                                <span validation-for="sobres" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="lamparas" class="control-label labelTipoVenta">Lámparas</label>
                                <input disabled for="lamparas" id="lamparas" class="form-control" value="@Model.Lamparas" />
                                <span validation-for="lamparas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="lamparasEmergencia" class="control-label labelTipoVenta">Lámparas Emergencia</label>
                                <input disabled for="lamparasEmergencia" id="lamparasEmergencia" class="form-control" value="@Model.LampEmergencia" />
                                <span validation-for="lamparasEmergencia" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 border">
                            <div class="row border-bottom contenedorTipoVenta">
                                <h3 class="centrar colorBlanco">Area de checkbox</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.MedidorAgua == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="medidorAgua" /><label class="labelTipoVenta">Medidor de Agua</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="medidorAgua" /><label class="labelTipoVenta">Medidor de Agua</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Sala == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="sala" /><label class="labelTipoVenta">Sala</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="sala" /><label class="labelTipoVenta">Sala</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Comedor == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="comedor" /><label class="labelTipoVenta">Comedor</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="comedor" /><label class="labelTipoVenta">Comedor</label>
                                        }

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Cocina == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="cocina" /><label class="labelTipoVenta">Cocina</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="cocina" /><label class="labelTipoVenta">Cocina</label>
                                        }

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Desayunador == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="desayunador" /><label class="labelTipoVenta">Desayunador</label>

                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="desayunador" /><label class="labelTipoVenta">Desayunador</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Antecom == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="antecom" /><label class="labelTipoVenta">AnteCom</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="antecom" /><label class="labelTipoVenta">AnteCom</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.SalaTV == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="salaTV" /><label class="labelTipoVenta">Sala de TV</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="salaTV" /><label class="labelTipoVenta">Sala de TV</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Bar == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="bar" /><label class="labelTipoVenta">Bar</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="bar" /><label class="labelTipoVenta">Bar</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Casino == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="cacino" /><label class="labelTipoVenta">Cacino</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="cacino" /><label class="labelTipoVenta">Cacino</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Terraza == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="terraza" /><label class="labelTipoVenta">Terraza</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="terraza" /><label class="labelTipoVenta">Terraza</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Balcon == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="balcon" /><label class="labelTipoVenta">Balcon</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="balcon" /><label class="labelTipoVenta">Balcon</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Lavanderia == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="lavanderia" /><label class="labelTipoVenta">Lavandería</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="lavanderia" /><label class="labelTipoVenta">Lavandería</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Despensa == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="despensa" /><label class="labelTipoVenta">Despensa</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="despensa" /><label class="labelTipoVenta">Despensa</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.ClosetBlanco == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="closetBlanco" /><label class="labelTipoVenta">Closet Blanco</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="closetBlanco" /><label class="labelTipoVenta">Closet Blanco</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Walk_in_Closet == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="walkInCloset" /><label class="labelTipoVenta">Walk in Closet</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="walkInCloset" /><label class="labelTipoVenta">Walk in Closet</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Puertas_Baño == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="puertasBaño" /><label class="labelTipoVenta">Puertas baño</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="puertasBaño" /><label class="labelTipoVenta">Puertas baño</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Senderos == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="senderos" /><label class="labelTipoVenta">Senderos</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="senderos" /><label class="labelTipoVenta">Senderos</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Mascotas == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="mascotas" /><label class="labelTipoVenta">Mascotas</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="mascotas" /><label class="labelTipoVenta">Mascotas</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Perrera == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="perrera" /><label class="labelTipoVenta">Perrera</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="perrera" /><label class="labelTipoVenta">Perrera</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Seguridad == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="seguridad" /><label class="labelTipoVenta">Seguridad</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="seguridad" /><label class="labelTipoVenta">Seguridad</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Oficina == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="oficina" /><label class="labelTipoVenta">Oficina</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="oficina" /><label class="labelTipoVenta">Oficina</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Bodega == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="bodega" /><label class="labelTipoVenta">Bodega</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="bodega" /><label class="labelTipoVenta">Bodega</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Garage == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="garage" /><label class="labelTipoVenta">Garage</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="garage" /><label class="labelTipoVenta">Garage</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Jardin == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="jardin" /><label class="labelTipoVenta">Jardín</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="jardin" /><label class="labelTipoVenta">Jardín</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Patio == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="patio" /><label class="labelTipoVenta">Patio</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="patio" /><label class="labelTipoVenta">Patio</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Patio_Luz == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="patioLuz" /><label class="labelTipoVenta">Patio luz</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="patioLuz" /><label class="labelTipoVenta">Patio luz</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Atico == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="atico" /><label class="labelTipoVenta">Atico</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="atico" /><label class="labelTipoVenta">Atico</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Piscina == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="piscina" /><label class="labelTipoVenta">Piscina</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="piscina" /><label class="labelTipoVenta">Piscina</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Rancho == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="rancho" /><label class="labelTipoVenta">Rancho</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="rancho" /><label class="labelTipoVenta">Rancho</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Canchas == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="canchas" /><label class="labelTipoVenta">Canchas</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="canchas" /><label class="labelTipoVenta">Canchas</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Cloaca == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="cloaca" /><label class="labelTipoVenta">Cloaca</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="cloaca" /><label class="labelTipoVenta">Cloaca</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Septico == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="septico" /><label class="labelTipoVenta">Séptico</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="septico" /><label class="labelTipoVenta">Séptico</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.PlantaTratamiento == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="plantaTratamiento" /><label class="labelTipoVenta">Planta Tratamien</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="plantaTratamiento" /><label class="labelTipoVenta">Planta Tratamien</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Capt_Bomba == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="captBomba" /><label class="labelTipoVenta">Capt Bomba</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="captBomba" /><label class="labelTipoVenta">Capt Bomba</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Tels == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="tels" /><label class="labelTipoVenta">Tels</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="tels" /><label class="labelTipoVenta">Tels</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Cable == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="cable" /><label class="labelTipoVenta">Cable</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="cable" /><label class="labelTipoVenta">Cable</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Internet == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="internet" /><label class="labelTipoVenta">Internet</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="internet" /><label class="labelTipoVenta">Internet</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Alarma == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="alarma" /><label class="labelTipoVenta">Alarma</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="alarma" /><label class="labelTipoVenta">Alarma</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.CCTV == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="cctv" /><label class="labelTipoVenta">CCTV</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="cctv" /><label class="labelTipoVenta">CCTV</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.PortonElectrico == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="portonElect" /><label class="labelTipoVenta">Portón Eléctrico</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="portonElect" /><label class="labelTipoVenta">Portón Eléctrico</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Control == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="control" /><label class="labelTipoVenta">Control</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="control" /><label class="labelTipoVenta">Control</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.CercaElectrica == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="cercaElectrica" /><label class="labelTipoVenta">Cerca Eléctrica</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="cercaElectrica" /><label class="labelTipoVenta">Cerca Eléctrica</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.AlambreNavaja == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="alamNavaja" /><label class="labelTipoVenta">Alambre Navaja</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="alamNavaja" /><label class="labelTipoVenta">Alambre Navaja</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.A_C == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="ac" /><label class="labelTipoVenta">A_C</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="ac" /><label class="labelTipoVenta">A_C</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Asensor == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="asensor" /><label class="labelTipoVenta">Asensor</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="asensor" /><label class="labelTipoVenta">Asensor</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.DetectorHumo == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="detectorHumo" /><label class="labelTipoVenta">Detector de humo</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="detectorHumo" /><label class="labelTipoVenta">Detector de humo</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.SistemaIncendio == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="sistIncendio" /><label class="labelTipoVenta">Sistema Incendio</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="sistIncendio" /><label class="labelTipoVenta">Sistema Incendio</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.SistemaSonido == true)
                                        {
                                            <input disabled type="checkbox" value="0" id="sistSonido" /><label class="labelTipoVenta">Sistema Sonido</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="sistSonido" /><label class="labelTipoVenta">Sistema Sonido</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.TableroDigital == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="tableroDigital" /><label class="labelTipoVenta">Tablero Digital</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="tableroDigital" /><label class="labelTipoVenta">Tablero Digital</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.TableroElec == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="tableroElec" /><label class="labelTipoVenta">Tablero Elec</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="tableroElec" /><label class="labelTipoVenta">Tablero Elec</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.DispositivoH2O == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="dispH20" /><label class="labelTipoVenta">Dispositivo H20</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="dispH20" /><label class="labelTipoVenta">Dispositivo H20</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Amueblado == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="amueblado" /><label class="labelTipoVenta">Amueblado</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="amueblado" /><label class="labelTipoVenta">Amueblado</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Gimnacio == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="gimnacio" /><label class="labelTipoVenta">Gimnacio</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="gimnacio" /><label class="labelTipoVenta">Gimnacio</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Lounge == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="lounge" /><label class="labelTipoVenta">Lounge</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="lounge" /><label class="labelTipoVenta">Lounge</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Jacuzzi == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="jacuzzi" /><label class="labelTipoVenta">Jacuzzi</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="jacuzzi" /><label class="labelTipoVenta">Jacuzzi</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Cortinas == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="cortinas" /><label class="labelTipoVenta">Cortinas</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="cortinas" /><label class="labelTipoVenta">Cortinas</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.PlantaElectrica == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="plantElectrica" /><label class="labelTipoVenta">Planta Eléctrica</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="plantElectrica" /><label class="labelTipoVenta">Planta Eléctrica</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Chimenea == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="chimenea" /><label class="labelTipoVenta">Chimenea</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="chimenea" /><label class="labelTipoVenta">Chimenea</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Cedazos == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="cedazos" /><label class="labelTipoVenta">Cedazos</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="cedazos" /><label class="labelTipoVenta">Cedazos</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.InterCom == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="intercom" /><label class="labelTipoVenta">Intercom</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="intercom" /><label class="labelTipoVenta">Intercom</label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.UsoSuelo == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="usoSuelo" /><label class="labelTipoVenta">Uso de Suelo</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="usoSuelo" /><label class="labelTipoVenta">Uso de Suelo</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model.Plano_Catastro == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="planoCatastro" /><label class="labelTipoVenta">Plano Catastro</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="planoCatastro" /><label class="labelTipoVenta">Plano Catastro</label>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @if (Model.Planos_Construccion == true)
                                        {
                                            <input disabled type="checkbox" value="1" checked id="planoConstruccion" /><label class="labelTipoVenta">Planos de Construcción</label>
                                        }
                                        else
                                        {
                                            <input disabled type="checkbox" value="0" id="planoConstruccion" /><label class="labelTipoVenta">Planos de Construcción</label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <input type="button" value="Actualizar" onclick="GetActualizarPropiedad2('@Model.Codigo')" class="float-md-right btn btn-info" />
        </div>
        <div class="col-md-2"></div>
    </div>

</div>




