﻿@model IEnumerable<unified_checkpoint_v2.Models.Propiedade>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/adminlte/js/mantenimientos.js"></script>
<script src="~/adminlte/js/site.js"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h1 class="centrar">Lista de Propiedades Gutiérrez de Unified Checkpoint</h1>
        </div>
        <div class="col-8">
            <div id="tabs" class="border">
                <ul>
                    <li><a href="#tabs-1">Mantenimientos</a></li>
                    <li><a href="#tabs-2">Excel</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="row">
                        <div class="col-3">
                            <a href="/Propiedadess/InsertarPropiedad">
                                <img src="~/Content/img/icono-agregar.png" class="image-size-small" />
                                <label>Agregar</label>
                            </a>
                        </div>
                        <div class="col-3">
                            <a onclick="GetActualizarPropiedad()">
                                <img src="~/Content/img/icono-actualizar.png" class="image-size-small rotate" />
                                <label>Actualizar</label>
                            </a>
                        </div>
                        <div class="col-3">
                            <a onclick="GetDetallesPropiedad()">
                                <img src="~/Content/img/icono-detalles.png" class="image-size-small-detalles" />
                                <label>Detalles</label>
                            </a>
                        </div>
                        <div class="col-3">
                            <a onclick="GetEliminarPropiedad()">
                                <img src="~/Content/img/icono-eliminar.png" class="image-size-small-eliminar" />
                                <label>Eliminar</label>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="row">
                        <div class="col-3">
                            <a href="/Propiedadess/ExportarExcel" class="export">
                                <img src="~/Content/img/icono-exportar.png" class="image-size-small-exportar" />
                                Exportar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <p class="centrarVertical-50">Escriba algo en el campo de entrada para buscar en la tabla:</p>
        </div>
        <div class="col-7 p-0">
            <input class="form-control" id="myInput" type="text" placeholder="Search.." />
        </div>
        <div class="col-1 p-0">
            <i class="icon ion-ios-search form-control size-40"></i>
        </div>
    </div>
</div>

<br>
<div class="contenedorTabla">
    <div class="table-responsive-md">
        <table class="table">
            <thead id="theadTabla">
                <tr>
                    <th scope="col" class="centrar">
                        Seleccionar
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Codigo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th scope="col">
                        Propiedad de
                    </th>
                    <th scope="col">
                        Propietario
                    </th>
                    <th scope="col">
                        Tipo de propiedad
                    </th>
                    <th scope="col">
                        Venta o alquiler
                    </th>
                    <th scope="col">
                        Precio dólares
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LinkSitioWeb)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Provincia)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Canton)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Distrito)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Avaluo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Ocupado)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                </tr>
            </thead>
            <tbody id="tbodyTabla">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="radio" name="propietario" class="centrarRadio" onclick="seleccionarPropiedad('@item.Codigo');" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        @if (@Html.DisplayFor(modelItem => item.Propietario) != null)
                        {
                            <td>Gutiérrez Real Estate</td>
                        }
                        else
                        {
                            <td>Agente</td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Propietario1.Cedula) - @Html.DisplayFor(modelItem => item.Propietario1.Nombre) @Html.DisplayFor(modelItem => item.Propietario1.Apellido)
                        </td>
                        @if (item.T_Casa == true)
                        {
                            <td>Casa</td>
                        }
                        @if (item.T_Terreno == true)
                        {
                            <td>Terreno</td>
                        }
                        @if (item.T_Local == true)
                        {
                            <td>Local</td>
                        }
                        @if (item.T_Oficina == true)
                        {
                            <td>Oficina</td>
                        }
                        @if (item.T_Bodega == true)
                        {
                            <td>Bodega</td>
                        }
                        @if (item.T_Edificio == true)
                        {
                            <td>Edificio</td>
                        }
                        @if (item.T_Hotel == true)
                        {
                            <td>Hotel</td>
                        }
                        @if (item.T_Condominio == true)
                        {
                            <td>Condominio</td>
                        }
                        @if (item.T_Apartamento == true)
                        {
                            <td>Apartamento</td>
                        }
                        @if (item.Venta == true && item.Alquiler == true)
                        {
                            <td>Venta - Alquiler</td>
                            <td>@Html.DisplayFor(modelItem => item.PrecioVenta) - @Html.DisplayFor(modelItem => item.PrecioAlquiler)</td>
                        }
                        else
                        {
                            if (item.Venta == true)
                            {
                                <td>Venta</td>
                                <td>@Html.DisplayNameFor(model => model.PrecioVenta)</td>
                            }
                            else
                            {
                                <td>Alquiler</td>
                                <td>@Html.DisplayNameFor(model => model.Alquiler)</td>
                            }
                        }
                        <td>
                            <a href="@item.LinkSitioWeb">Ver en sitio web</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Provincia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Canton)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distrito)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Avaluo)
                        </td>
                        @if (item.Ocupado == true)
                        {
                            <td>Ocupado</td>
                        }
                        else
                        {
                            <td>Desocupado</td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tbodyTabla tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>






