﻿@model IEnumerable<unified_checkpoint_v2.Models.Propietario>

@{
    ViewBag.Title = "InsertarPropiedad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/adminlte/js/mantenimientos.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <a href="/Propiedadess/index"><i class="icon ion-ios-arrow-back form-control size-40 centrarVertical-30"></i></a>
        </div>
        <div class="col-7">
            <h1>Ingresar Propiedad Gutiérrez</h1>
        </div>
    </div>
    <hr class="margenEditar" />

    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <div validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-3 border">
                    <div class="row border-bottom contenedorTipoVenta">
                        <h3 class="centrar colorBlanco">Tipo de Venta</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" id="venta" name="venta" /><label class="labelTipoVenta">Venta</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" id="alquiler" name="alquiler" /><label class="labelTipoVenta">Alquiler</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-8 border">
                    <div class="row border-bottom contenedorTipoVenta">
                        <h3 class="centrar colorBlanco">Tipo de Propiedad</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="radio" name="tipoPropiedad" value="tipoCasa" id="tipoCasa" /><label class="labelTipoVenta">Casa</label>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" name="tipoPropiedad" value="tipoTerreno" id="tipoTerreno" /><label class="labelTipoVenta">Terreno</label>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" name="tipoPropiedad" value="tipoLocal" id="tipoLocal" /><label class="labelTipoVenta">Local</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="radio" name="tipoPropiedad" value="tipoOficina" id="tipoOficina" /><label class="labelTipoVenta">Oficina</label>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" name="tipoPropiedad" value="tipoBodega" id="tipoBodega" /><label class="labelTipoVenta">Bodega</label>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" name="tipoPropiedad" value="tipoEdificio" id="tipoEdificio" /><label class="labelTipoVenta">Edificio</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="radio" name="tipoPropiedad" value="tipoHotel" id="tipoHotel" /><label class="labelTipoVenta">Hotel</label>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" name="tipoPropiedad" value="tipoCondominio" id="tipoCondominio" /><label class="labelTipoVenta">Condominio</label>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" name="tipoPropiedad" value="tipoApartamento" id="tipoApartamento" /><label class="labelTipoVenta">Apartamento</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 border">
                    <div class="row border-bottom contenedorTipoVenta">
                        <h3 class="centrar colorBlanco">Información Importante</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="codigo" class="control-label labelTipoVenta">Código</label>
                                <input for="codigo" id="codigo" class="form-control" />
                                <span validation-for="codigo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombre" class="control-label labelTipoVenta">Nombre</label>
                                <input for="nombre" id="nombre" class="form-control" />
                                <span validation-for="nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="propietario" class="control-label labelTipoVenta">Propietario</label>
                                <select for="propietario" class="form-control" id="propietario">
                                    <option>Seleccione un propietario</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Cedula">@item.Cedula - @item.Nombre @item.Apellido</option>
                                    }
                                </select>
                                <span validation-for="propietario" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="maps" class="control-label labelTipoVenta">Google Maps</label>
                                <input for="maps" id="maps" class="form-control" />
                                <span validation-for="maps" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="mapsLat" class="control-label labelTipoVenta">Latitud</label>
                                <input for="mapsLat" id="mapsLat" class="form-control" />
                                <span validation-for="mapsLat" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="mapsLong" class="control-label labelTipoVenta">Longitud</label>
                                <input for="mapsLong" id="mapsLong" class="form-control" />
                                <span validation-for="mapsLong" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="estado" class="control-label labelTipoVenta">Estado</label>
                                <select for="estado" class="form-control" id="estado">
                                    <option>Seleccione un estado</option>
                                    <option value="En venta">En venta</option>
                                    <option value="En alquiler">En alquiler</option>
                                    <option value="En venta o alquiler">En venta o alquiler</option>
                                    <option value="Vendida">Vendida</option>
                                    <option value="Alquilada">Alquilada</option>
                                </select>
                                <span validation-for="estado" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="linkSitioWeb" class="control-label labelTipoVenta">Link Sitio Web</label>
                                <input for="linkSitioWeb" id="linkSitioWeb" class="form-control" />
                                <span validation-for="linkSitioWeb" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="noPlanoCatastro" class="control-label labelTipoVenta">No. Plano Catastro</label>
                                <input for="noPlanoCatastro" id="noPlanoCatastro" class="form-control" />
                                <span validation-for="noPlanoCatastro" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="noFolioReal" class="control-label labelTipoVenta">No. Folio Real</label>
                                <input for="noFolioReal" id="noFolioReal" class="form-control" />
                                <span validation-for="noFolioReal" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="llaves" class="control-label labelTipoVenta">Llaves</label>
                                <input for="llaves" id="llaves" class="form-control" />
                                <span validation-for="llaves" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <br />
                                <input for="ocupado" type="checkbox" id="ocupado" name="ocupado" />
                                <label for="ocupado" class="control-label labelTipoVenta">Ocupado</label>
                                <span validation-for="ocupado" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="precioVenta" class="control-label labelTipoVenta">Precio Venta($)</label>
                                <input for="precioVenta" id="precioVenta" class="form-control" />
                                <span validation-for="precioVenta" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="precioAlquiler" class="control-label labelTipoVenta">Precio Alquiler($)</label>
                                <input for="precioAlquiler" id="precioAlquiler" class="form-control" />
                                <span validation-for="precioAlquiler" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="iva" class="control-label labelTipoVenta">IVA</label>
                                <input for="iva" id="iva" class="form-control" />
                                <span validation-for="iva" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="avaluo" class="control-label labelTipoVenta">Avaluo</label>
                                <input for="avaluo" id="avaluo" class="form-control" />
                                <span validation-for="avaluo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cuotaMantenimiento" class="control-label labelTipoVenta">Cuota de Mantenimiento</label>
                                <input for="cuotaMantenimiento" id="cuotaMantenimiento" class="form-control" />
                                <span validation-for="cuotaMantenimiento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cuotaSeguridad" class="control-label labelTipoVenta">Cuota de Seguridad</label>
                                <input for="cuotaSeguridad" id="cuotaSeguridad" class="form-control" />
                                <span validation-for="cuotaSeguridad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="impuestoSolidario" class="control-label labelTipoVenta">Impuesto Solidario</label>
                                <input for="impuestoSolidario" id="impuestoSolidario" class="form-control" />
                                <span validation-for="impuestoSolidario" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="impuestos" class="control-label labelTipoVenta">Impuestos</label>
                                <input for="impuestos" id="impuestos" class="form-control" />
                                <span validation-for="impuestos" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="provincia" class="control-label labelTipoVenta">Provincia</label>
                                <input for="provincia" id="provincia" class="form-control" />
                                <span validation-for="provincia" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="canton" class="control-label labelTipoVenta">Cantón</label>
                                <input for="canton" id="canton" class="form-control" />
                                <span validation-for="canton" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="distrito" class="control-label labelTipoVenta">Distrito</label>
                                <input for="distrito" id="distrito" class="form-control" />
                                <span validation-for="distrito" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="postal" class="control-label labelTipoVenta">Código Postal</label>
                                <input for="postal" id="postal" class="form-control" />
                                <span validation-for="postal" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="direccion" class="control-label labelTipoVenta">Dirección</label>
                                <textarea for="direccion" id="direccion" class="form-control" rows="3" cols="20" type="text"></textarea>
                                <span validation-for="direccion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 border">
                    <div class="row border-bottom contenedorTipoVenta">
                        <h3 class="centrar colorBlanco">Medidas</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="areaTerreno" class="control-label labelTipoVenta">Terreno (m2)</label>
                                <input for="areaTerreno" id="areaTerreno" class="form-control" />
                                <span validation-for="areaTerreno" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="areaConstruccion" class="control-label labelTipoVenta">Construcción (m2)</label>
                                <input for="areaConstruccion" id="areaConstruccion" class="form-control" />
                                <span validation-for="areaConstruccion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="frente" class="control-label labelTipoVenta">Frente (m2)</label>
                                <input for="frente" id="frente" class="form-control" />
                                <span validation-for="frente" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="fondo" class="control-label labelTipoVenta">Fondo (m2)</label>
                                <input for="fondo" id="fondo" class="form-control" />
                                <span validation-for="fondo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="altura" class="control-label labelTipoVenta">Altura (m2)</label>
                                <input for="altura" id="altura" class="form-control" />
                                <span validation-for="altura" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="areaMascota" class="control-label labelTipoVenta">Area Mascota (m2)</label>
                                <input for="areaMascota" id="areaMascota" class="form-control" />
                                <span validation-for="areaMascota" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 border">
                    <div class="row border-bottom contenedorTipoVenta">
                        <h3 class="centrar colorBlanco">Amenidades</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="niveles" class="control-label labelTipoVenta">Niveles</label>
                                <input for="niveles" id="niveles" class="form-control" />
                                <span validation-for="niveles" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="dormitorios" class="control-label labelTipoVenta">Dormitorios</label>
                                <input for="dormitorios" id="dormitorios" class="form-control" />
                                <span validation-for="dormitorios" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="baños" class="control-label labelTipoVenta">Baños</label>
                                <input for="baños" id="baños" class="form-control" />
                                <span validation-for="baños" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="pisos" class="control-label labelTipoVenta">Pisos</label>
                                <input for="pisos" id="pisos" class="form-control" />
                                <span validation-for="pisos" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cielos" class="control-label labelTipoVenta">Cielos</label>
                                <input for="cielos" id="cielos" class="form-control" />
                                <span validation-for="cielos" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="mueblesCocina" class="control-label labelTipoVenta">Muebles Cocina</label>
                                <input for="mueblesCocina" id="mueblesCocina" class="form-control" />
                                <span validation-for="mueblesCocina" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="electrod" class="control-label labelTipoVenta">Electrodomésticos</label>
                                <input for="electrod" id="electrod" class="form-control" />
                                <span validation-for="electrod" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cerchas" class="control-label labelTipoVenta">Cerchas</label>
                                <input for="cerchas" id="cerchas" class="form-control" />
                                <span validation-for="cerchas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cornizas" class="control-label labelTipoVenta">Cornizas</label>
                                <input for="cornizas" id="cornizas" class="form-control" />
                                <span validation-for="cornizas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="puertas" class="control-label labelTipoVenta">Puertas</label>
                                <input for="puertas" id="puertas" class="form-control" />
                                <span validation-for="puertas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="contramarcos" class="control-label labelTipoVenta">Contramarcos</label>
                                <input for="contramarcos" id="contramarcos" class="form-control" />
                                <span validation-for="contramarcos" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ventaneria" class="control-label labelTipoVenta">Ventanería</label>
                                <input for="ventaneria" id="ventaneria" class="form-control" />
                                <span validation-for="ventaneria" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cobertura" class="control-label labelTipoVenta">Cobertura</label>
                                <input for="cobertura" id="cobertura" class="form-control" />
                                <span validation-for="cobertura" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="estSuelo" class="control-label labelTipoVenta">Est Suelo</label>
                                <input for="estSuelo" id="estSuelo" class="form-control" />
                                <span validation-for="estSuelo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="curvasNivel" class="control-label labelTipoVenta">Curvas Nivel</label>
                                <input for="curvasNivel" id="curvasNivel" class="form-control" />
                                <span validation-for="curvasNivel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="hotH2O" class="control-label labelTipoVenta">Hot H20</label>
                                <input for="hotH2O" id="hotH2O" class="form-control" />
                                <span validation-for="hotH2O" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="parqueo" class="control-label labelTipoVenta">Parqueo</label>
                                <input for="parqueo" id="parqueo" class="form-control" />
                                <span validation-for="parqueo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="sobres" class="control-label labelTipoVenta">Sobres</label>
                                <input for="sobres" id="sobres" class="form-control" />
                                <span validation-for="sobres" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="lamparas" class="control-label labelTipoVenta">Lámparas</label>
                                <input for="lamparas" id="lamparas" class="form-control" />
                                <span validation-for="lamparas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lampEmergencia" class="control-label labelTipoVenta">Lámparas de Emergencia</label>
                                <input for="lampEmergencia" id="lampEmergencia" class="form-control" />
                                <span validation-for="lampEmergencia" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 border">
                            <div class="row border-bottom contenedorTipoVenta">
                                <h3 class="centrar colorBlanco">Area de checkbox</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="medidorAgua" name="medidorAgua" /><label class="labelTipoVenta">Medidor de Agua</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="sala" name="sala" /><label class="labelTipoVenta">Sala</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="comedor" name="comedor" /><label class="labelTipoVenta">Comedor</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="cocina" name="cocina" /><label class="labelTipoVenta">Cocina</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="desayunador" name="desayunador" /><label class="labelTipoVenta">Desayunador</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="antecom" name="antecom" /><label class="labelTipoVenta">AnteCom</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="salaTV" name="salaTV" /><label class="labelTipoVenta">Sala de TV</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="bar" name="bar" /><label class="labelTipoVenta">Bar</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="cacino" name="cacino" /><label class="labelTipoVenta">Cacino</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="terraza" name="terraza" /><label class="labelTipoVenta">Terraza</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="balcon" name="balcon" /><label class="labelTipoVenta">Balcon</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="lavanderia" name="lavanderia" /><label class="labelTipoVenta">Lavandería</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="despensa" name="despensa" /><label class="labelTipoVenta">Despensa</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="closetBlanco" name="closetBlanco" /><label class="labelTipoVenta">Closet Blanco</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="walkInCloset" name="walkInCloset" /><label class="labelTipoVenta">Walk in Closet</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="puertasBaño" name="puertasBaño" /><label class="labelTipoVenta">Puertas baño</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="senderos" name="senderos" /><label class="labelTipoVenta">Senderos</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="mascotas" name="mascotas" /><label class="labelTipoVenta">Mascotas</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="perrera" name="perrera" /><label class="labelTipoVenta">Perrera</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="seguridad" name="seguridad" /><label class="labelTipoVenta">Seguridad</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="oficina" name="oficina" /><label class="labelTipoVenta">Oficina</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="bodega" name="bodega" /><label class="labelTipoVenta">Bodega</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="garage" name="garage" /><label class="labelTipoVenta">Garage</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="jardin" name="jardin" /><label class="labelTipoVenta">Jardín</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="patio" name="patio" /><label class="labelTipoVenta">Patio</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="patioLuz" name="patioLuz" /><label class="labelTipoVenta">Patio luz</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="atico" name="atico" /><label class="labelTipoVenta">Atico</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="piscina" name="piscina" /><label class="labelTipoVenta">Piscina</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="rancho" name="rancho" /><label class="labelTipoVenta">Rancho</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="canchas" name="canchas" /><label class="labelTipoVenta">Canchas</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="cloaca" name="cloaca" /><label class="labelTipoVenta">Cloaca</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="septico" name="septico" /><label class="labelTipoVenta">Séptico</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="plantaTratamiento" name="plantaTratamiento" /><label class="labelTipoVenta">Planta Tratamien</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="captBomba" name="captBomba" /><label class="labelTipoVenta">Capt Bomba</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="tels" name="tels" /><label class="labelTipoVenta">Tels</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="cable" name="cable" /><label class="labelTipoVenta">Cable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="internet" name="internet" /><label class="labelTipoVenta">Internet</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="alarma" name="alarma" /><label class="labelTipoVenta">Alarma</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="cctv" name="cctv" /><label class="labelTipoVenta">CCTV</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="portonElect" name="portonElect" /><label class="labelTipoVenta">Portón Eléctrico</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="control" name="control" /><label class="labelTipoVenta">Control</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="cercaElectrica" name="cercaElectrica" /><label class="labelTipoVenta">Cerca Eléctrica</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="alamNavaja" name="alamNavaja" /><label class="labelTipoVenta">Alambre Navaja</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="ac" name="ac" /><label class="labelTipoVenta">A_C</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="asensor" name="asensor" /><label class="labelTipoVenta">Asensor</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="detectorHumo" name="detectorHumo" /><label class="labelTipoVenta">Detector de humo</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="sistIncendio" name="sistIncendio" /><label class="labelTipoVenta">Sistema Incendio</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="sistSonido" name="sistSonido" /><label class="labelTipoVenta">Sistema Sonido</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="tableroDigital" name="tableroDigital" /><label class="labelTipoVenta">Tablero Digital</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="tableroElec" name="tableroElec" /><label class="labelTipoVenta">Tablero Elec</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="dispH20" name="dispH20" /><label class="labelTipoVenta">Dispositivo H20</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="amueblado" name="amueblado" /><label class="labelTipoVenta">Amueblado</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="gimnacio" name="gimnacio" /><label class="labelTipoVenta">Gimnacio</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="lounge" name="lounge" /><label class="labelTipoVenta">Lounge</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="jacuzzi" name="jacuzzi" /><label class="labelTipoVenta">Jacuzzi</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="cortinas" name="cortinas" /><label class="labelTipoVenta">Cortinas</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="plantElectrica" name="plantElectrica" /><label class="labelTipoVenta">Planta Eléctrica</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="chimenea" name="chimenea" /><label class="labelTipoVenta">Chimenea</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="cedazos" name="cedazos" /><label class="labelTipoVenta">Cedazos</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="intercom" name="intercom" /><label class="labelTipoVenta">Intercom</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="usoSuelo" name="usoSuelo" /><label class="labelTipoVenta">Uso de Suelo</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="checkbox" id="planoCatastro" name="planoCatastro" /><label class="labelTipoVenta">Plano Catastro</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="checkbox" id="planoConstruccion" name="planoConstruccion" /><label class="labelTipoVenta">Planos de Construcción</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <input type="button" value="Agegar" onclick="GuardarPropiedad()" class="float-md-right btn btn-primary" />
        </div>
        <div class="col-md-2"></div>
    </div>

</div>

