﻿@{
    ViewBag.Title = "Unified Checkpoint";
}


<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="~/Content/img/UCLogo.png" class="img-fluid" alt="Responsive image" />
        </div>
        <div class="col-sm">
            <img src="~/Content/img/logoRE.jpg" class="img-fluid" alt="Responsive image" />
        </div>

    </div>
</div>