﻿@model IEnumerable<unified_checkpoint_v2.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/adminlte/css/Usuarios.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h1 class="centrar">Lista de Clientes de Unified Checkpoint</h1>
        </div>
        <div class="col-8">
            <div id="tabs" class="border">
                <ul>
                    <li><a href="#tabs-1">Mantenimientos</a></li>
                    <li><a href="#tabs-2">Excel</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="row">
                        <div class="col-3">
                            <a href="/Cliente/InsertarClientes">
                                <img src="~/Content/img/icono-agregar.png" class="image-size-small" />
                                <label>Agregar</label>
                            </a>
                        </div>
                        <div class="col-3">
                            <a onclick="GetActualizarCliente()">
                                <img src="~/Content/img/icono-actualizar.png" class="image-size-small rotate" />
                                <label>Actualizar</label>
                            </a>
                        </div>
                        <div class="col-3">
                            <a onclick="GetDetallesCliente()">
                                <img src="~/Content/img/icono-detalles.png" class="image-size-small-detalles" />
                                <label>Detalles</label>
                            </a>
                        </div>
                        <div class="col-3">
                            <a onclick="GetEliminarCliente()">
                                <img src="~/Content/img/icono-eliminar.png" class="image-size-small-eliminar" />
                                <label>Eliminar</label>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="row">
                        <div class="col-3">
                            <a href="/Cliente/ExportarExcel" class="export">
                                <img src="~/Content/img/icono-exportar.png" class="image-size-small-exportar" />
                                Exportar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <p class="centrarVertical-50">Escriba algo en el campo de entrada para buscar en la tabla:</p>
        </div>
        <div class="col-7 p-0">
            <input class="form-control" id="myInput" type="text" placeholder="Search.." />
        </div>
        <div class="col-1 p-0">
            <i class="icon ion-ios-search form-control size-40"></i>
        </div>
    </div>
</div>

<br>
<div class="contenedorTabla">
    <div class="table-responsive-md">
        <table class="table">
            <thead id="theadTabla">
                <tr>
                    <th scope="col" class="centrar">
                        Seleccionar
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Cedula)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PropiedadGRS)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Propiedad)
                    </th>
                    <th scope="col">
                        @{
                            var fecha = Convert.ToString(@Html.DisplayNameFor(model => model.FechaInteres));
                            fecha = fecha + " (yyyy/mm/dd)";
                            <p>@fecha</p>
                        }

                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                </tr>
            </thead>
            <tbody id="tbodyTabla">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="radio" name="propietario" class="centrarRadio" onclick="seleccionarCliente(@item.Cedula,'@item.Propiedad');" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cedula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        @if (item.PropiedadGRS == true)
                        {
                            <td>
                                Propiedad de Gutiérrez Real Estate
                            </td>
                        }
                        else
                        {
                            <td>
                                Propiedad de Agente
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Propiedad)
                        </td>
                        <td>
                            @Html.ValueFor(modelItem => item.FechaInteres, "{0:yyyy/mm/dd}")
                        </td>
                        @if (item.Estado == true)
                        {
                            <td>
                                Cliente interesado actualmente
                            </td>
                        }
                        else
                        {
                            <td>
                                Cliente no se encuentra interesado actualmente
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tbodyTabla tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>




