﻿@model IEnumerable<unified_checkpoint_v2.Models.Propiedade>
@{
    ViewBag.Title = "InsertarCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/adminlte/js/mantenimientos.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <a href="/Cliente/index"><i class="icon ion-ios-arrow-back form-control size-40 centrarVertical-30"></i></a>
        </div>
        <div class="col-7">
            <h1>Ingresar Cliente</h1>
        </div>
    </div>
    <hr class="margenEditar" />

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <div validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Cedula" class="control-label">Cédula</label>
                        <input for="Cedula" id="cedula" class="form-control" />
                        <span validation-for="cedula" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Nombre" class="control-label">Nombre</label>
                        <input for="Nombre" id="nombre" class="form-control" />
                        <span validation-for="nombre" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Apellido" class="control-label">Apellido</label>
                        <input for="Apellido" id="apellido" class="form-control" />
                        <span validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Telefono" class="control-label">Teléfono</label>
                        <input for="Telefono" id="telefono" class="form-control" />
                        <span validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Correo" class="control-label">Correo</label>
                        <input for="Correo" id="correo" class="form-control" />
                        <span validation-for="Correo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Código de Propiedad</label>
                        <select for="Propiedad" class="form-control" id="propiedad">
                            <option value="3">--Seleccione un código de Propiedad--</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.Codigo">@item.Codigo - @item.Nombre</option>
                            }
                        </select>
                        <span validation-for="Propiedad" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FechaInteres" class="control-label">Fecha de Interés</label>
                        <input for="FechaInteres" id="fecha" type="text" class="form-control" value="@ViewBag.FechaActual" disabled />
                        <span validation-for="FechaInteres" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <select for="Estado" class="form-control" id="estado">
                            <option value="3">--Seleccione un estado--</option>
                            <option value="1">Interesado Actualmente</option>
                            <option value="0">No se encuentra interesado</option>
                        </select>
                        <span validation-for="Estado" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Agregar" onclick="GuardarCliente()" class="btn btn-primary float-right" />
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

