﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.centrar {
    text-align:center;
}

.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background: rgba(57, 63, 84, 0.8);
}

.webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.webflow-style-input input {
    flex-grow: 1;
    color: #bfd2ff;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
}

.webflow-style-input input::-webkit-input-placeholder {
    color: #7881a1;
}

.webflow-style-input button {
    color: #7881a1;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
}

.webflow-style-input button:hover {
    color: #bfd2ff;
}

.centrarVertical-50 {
    line-height: 50px;
}

.centrarVertical-30 {
    line-height: 30px !important;
}

.contenedorTabla {
    width:100%;
    height: 565px;
    border: 1px solid #000000;
    overflow-x: scroll;
    overflow-y: scroll;
}

.tabla {
    border-spacing: 0;
    display: flex; /*Se ajuste dinamicamente al tamano del dispositivo**/
    max-height: 565px;
    overflow-y: hidden; /**El scroll verticalmente cuando sea necesario*/
    overflow-x: hidden; /*Sin scroll horizontal*/
    table-layout: fixed; /**Forzamos a que las filas tenga el mismo ancho**/
    width: 98vw; /*El ancho que necesitemos*/
    border: 1px solid black;
}

#theadTabla {
    position: relative !important;
    background-color: #303480;
}
    
#theadTabla tr th {
    color: white;
}



th {
    border-bottom: 1px solid #c4c0c9;
    border-right: 1px solid #c4c0c9;
}

th, td {
    margin: 0;
    max-width: 18.5vw; /**Ancho por celda*/
    min-width: 18.5vw; /**Ancho por celda*/
    word-wrap: break-word; /*Si el contenido supera el tamano, adiciona a una nueve linea**/
}

.centrarRadio {
    margin-left:50%;
}

.margenEditar {
    margin-bottom:4rem;
}

.margen2rem {
    margin-bottom: 2rem;
}

.texto {
    height:50px;
}

.ui-state-active {
    border: 1px solid #303480 !important;
    background: #303480 !important;
}

.image-size-small {
    margin-left:13px;
    width:25%;
    height:35px;
    background-size:cover;
    background-repeat:no-repeat;
}

.image-size-small-detalles {
    margin-left: 13px;
    width: 20%;
    height: 34px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-size-small-eliminar {
    margin-left: 13px;
    width: 19%;
    height: 31px;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-size-small-exportar {
    margin-left: 13px;
    width: 20%;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.rotate:hover {
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-gear {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.content-wrapper {
    background: #fff !important;
}

.contenedorTipoVenta {
    background-color: #007bff;
}

.colorBlanco {
    color: white;
    margin: 0 auto;
}

.labelTipoVenta {
    margin-left:15px;
    font-size:22px;
}