﻿.contenedorUsuarios {
    width: 100%;
    height: 570px;
    border: 1px solid #000000;
    overflow-x: scroll;
    overflow-y: scroll;
}

#theadUsuario {
    position: relative;
    background-color: #303480;
}


    #theadUsuario tr th {
        color: white;
    }