﻿@model unified_checkpoint_v2.Models.Propietario

@{
    ViewBag.Title = "DetallesPropietario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/mantenimientos.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <a href="/Propietarios/index"><i class="icon ion-ios-arrow-back form-control size-40 centrarVertical-30"></i></a>
        </div>
        <div class="col-7">
            <h1>Detalles de Propietario</h1>
        </div>
    </div>
    <hr class="margen2rem" />

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <div validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tipoCedula" class="control-label">Tipo Cédula</label>
                        <input for="tipoCedula" id="tipoCedula" class="form-control" value="@Model.TipoCedula" disabled />
                        <span validation-for="tipoCedula" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Cedula" class="control-label">Cédula</label>
                        <input for="Cedula" id="cedula" class="form-control" value="@Model.Cedula" disabled />
                        <span validation-for="Cedula" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Nombre" class="control-label">Nombre</label>
                        <input for="Nombre" id="nombre" class="form-control" value="@Model.Nombre" disabled />
                        <span validation-for="nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Apellido" class="control-label">Apellido</label>
                        <input for="Apellido" id="apellido" class="form-control" value="@Model.Apellido" disabled />
                        <span validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Telefono" class="control-label">Teléfono</label>
                        <input for="Telefono" id="telefono" class="form-control" value="@Model.Telefono" disabled />
                        <span validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Correo" class="control-label">Correo</label>
                        <input for="Correo" id="correo" class="form-control" value="@Model.Correo" disabled />
                        <span validation-for="Correo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="InformacionAdicional" class="control-label">Información Adicional</label>
                        <textarea for="InformacionAdicional" id="info" class="form-control" disabled rows="6" cols="25" type="text">@Model.InformacionAdicional</textarea>
                        <span validation-for="InformacionAdicional" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <h3 class="centrar">Información de Contacto Secundario</h3>
            <hr class="margen2rem" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="NombreCompleto_Sec" class="control-label">Nombre Completo</label>
                        <input for="NombreCompleto_Sec" id="nombreSec" class="form-control" disabled value="@Model.NombreCompleto_Sec" />
                        <span validation-for="NombreCompleto_Sec" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Email_Sec" class="control-label">Correo</label>
                        <input for="Email_Sec" id="emailSec" class="form-control" value="@Model.Email_Sec" disabled />
                        <span validation-for="Email_Sec" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Telefono_Sec" class="control-label">Teléfono</label>
                        <input for="Telefono_Sec" id="telefonoSec" class="form-control" value="@Model.Telefono_Sec" disabled />
                        <span validation-for="Telefono_Sec" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Parentezco_Sec" class="control-label">Parentezco</label>
                        <input for="Parentezco_Sec" id="parentezcoSec" class="form-control" value="@Model.Parentezco_Sec" disabled />
                        <span validation-for="Parentezco_Sec" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Actualizar" onclick="GetActualizarPropietario2(@Model.Cedula)" class="btn btn-primary float-right" />
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>




