﻿@model unified_checkpoint_v2.Models.Presupuesto

@{
    ViewBag.Title = "ActualizarPresupuesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/mantenimientos.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <a href="/Presupuesto/index"><i class="icon ion-ios-arrow-back form-control size-40 centrarVertical-30"></i></a>
        </div>
        <div class="col-7">
            <h1>Actualizar Presupuesto</h1>
        </div>
    </div>
    <hr class="margenEditar" />

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <div validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" id="idPresupuesto" class="invisible" value="@Model.IdPresupuesto" />

                        <label for="Propiedad" class="control-label">Propiedad</label>
                        <input for="Propiedad" id="propiedad" class="form-control" value="@Model.Propiedad" disabled />
                        <span validation-for="Propiedad" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Ancho" class="control-label">Ancho del letrero</label>
                        <input for="Ancho" id="ancho" class="form-control" value="@Model.Ancho" />
                        <span validation-for="Ancho" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Largo" class="control-label">Largo del letrero</label>
                        <input for="Largo" id="largo" class="form-control" value="@Model.Largo" />
                        <span validation-for="Largo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Material" class="control-label">Material del letrero</label>
                        <input for="Material" id="material" class="form-control" value="@Model.Material" />
                        <span validation-for="Material" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <h3 class="centrar">Inversión </h3>
            <div class="row">
                <div class="table-responsive-md">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th data-sortable="true">Red Social</th>
                                <th data-sortable="true"> Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Prezi</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="number" for="PresupuestoPrezi" id="presupuestoPrezi" class="form-control" value="@Model.PresupuestoPrezi" onchange="sumar(this.value);">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Wazi</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="number" for="PresupuestoWazi" id="presupuestoWazi" class="form-control" value="@Model.PresupuestoWazi" onchange="sumar(this.value);">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>WebBienesRaices</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="number" for="PresupuestoWebBienesRaices" id="presupuestoWebBienesRaices" class="form-control" value="@Model.PresupuestoWebBienesRaices" onchange="sumar(this.value);">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Facebook</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="number" for="PresupuestoFacebook" id="presupuestoFacebook" class="form-control" value="@Model.PresupuestoFacebook" onchange="sumar(this.value);">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Instagram</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="number" for="PresupuestoInstagram" id="presupuestoInstagram" class="form-control" value="@Model.PresupuestoInstagram" onchange="sumar(this.value);">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Encuentra24</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="number" for="PresupuestoEncuentra24" id="presupuestoEncuentra24" class="form-control" value="@Model.PresupuestoEncuentra24" onchange="sumar(this.value);">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>VideoPromocional</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="number" for="PresupuestoVideoPromocional" id="presupuestoVideoPromocional" class="form-control" value="@Model.PresupuestoVideoPromocional" onchange="sumar(this.value);">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Costo del cartel</td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="number" for="Costo" id="costo" class="form-control" value="@Model.Costo" onchange="sumar(this.value);" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <hr class="margen2rem" />
                    <div class="row">
                        <div class="col-md-6">
                            <span data-sortable>PrecioFinalPresupuesto: $</span><span id="precioFinalPresupuesto" value="@Model.PrecioFinalPresupuesto"></span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="button" value="Actualizar" onclick="ActualizarPresupuesto()" class="btn btn-primary float-right" />
            </div>
            <br />
        </div>
        <div class="col-2"></div>
    </div>
</div>
