﻿@model IEnumerable<unified_checkpoint_v2.Models.Presupuesto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Usuarios.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h1 class="centrar">Lista de Presupuesto de Unified Checkpoint</h1>
        </div>
        <div class="col-8">
            <div id="tabs" class="border">
                <ul>
                    <li><a href="#tabs-1">Mantenimientos</a></li>

                </ul>
                <div id="tabs-1">
                    <div class="row">
                        <div class="col-3">
                            <a href="/Presupuesto/InsertarPresupuesto">
                                <img src="~/Content/img/icono-agregar.png" class="image-size-small" />
                                <label>Agregar</label>
                            </a>
                        </div>
                        <div class="col-3">
                            <a onclick="GetActualizarPresupuesto()" id="actualizar">
                                <img src="~/Content/img/icono-actualizar.png" class="image-size-small rotate" />
                                <label>Actualizar</label>
                            </a>
                        </div>
                        <div class="col-3">
                            <a onclick="GetDetallesPresupuesto()">
                                <img src="~/Content/img/icono-detalles.png" class="image-size-small-detalles" />
                                <label>Detalles</label>
                            </a>
                        </div>
                        <div class="col-3">
                            <a onclick="GetEliminarPresupuesto()">
                                <img src="~/Content/img/icono-eliminar.png" class="image-size-small-eliminar" />
                                <label>Eliminar</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <p class="centrarVertical-50">Escriba algo en el campo de entrada para buscar en la tabla:</p>
        </div>
        <div class="col-7 p-0">
            <input class="form-control" id="myInput" type="text" placeholder="Search.." />
        </div>
        <div class="col-1 p-0">
            <i class="icon ion-ios-search form-control size-40"></i>
        </div>
    </div>
</div>

<br>
<div class="contenedorTabla">
    <div class="table-responsive-md">
        <table class="table">
            <thead id="theadTabla">
                <tr>
                    <th scope="col" class="centrar">
                        Seleccionar
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.IdPresupuesto)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Propiedad)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Ancho)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Largo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Material)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Costo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PresupuestoPrezi)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PresupuestoWazi)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PresupuestoWebBienesRaices)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PresupuestoFacebook)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PresupuestoInstagram)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PresupuestoEncuentra24)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PresupuestoVideoPromocional)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PrecioFinalPresupuesto)
                    </th>
                </tr>
            </thead>
            <tbody id="tbody Tabla">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="radio" name="Presupuesto" class="centrarRadio" onclick="seleccionarPresupuesto('@item.IdPresupuesto', '@item.Propiedad', '@item.Ancho', '@item.Largo', '@item.Material', '@item.Costo', '@item.PresupuestoPrezi', '@item.PresupuestoWazi', '@item.PresupuestoWebBienesRaices', '@item.PresupuestoFacebook', '@item.PresupuestoInstagram', '@item.PresupuestoEncuentra24', '@item.PresupuestoVideoPromocional', '@item.PrecioFinalPresupuesto');" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdPresupuesto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Propiedad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ancho)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Largo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Material)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Costo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PresupuestoPrezi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PresupuestoWazi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PresupuestoWebBienesRaices)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PresupuestoFacebook)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PresupuestoInstagram)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PresupuestoEncuentra24)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PresupuestoVideoPromocional)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioFinalPresupuesto)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tbodyTabla tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
