﻿
@{
    ViewBag.Title = "Estadisticas Presupuestos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="@Url.Action("ChartInstFB")" width="400" height="400" />
        </div>
        <div class="col-sm">
            <img src="@Url.Action("ChartWaPr")" width="400" height="400" />
        </div>
        <div class="col-sm">
            <img src="@Url.Action("ChartVidLet")" width="400" height="400" />
        </div>
        <div class="col-sm">
            <img src="@Url.Action("ChartTotal")" width="640" height="480" />
        </div>
    </div>
</div>


